<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for Recommendations</title>
</head>
<body>
<h1>Search for Recommendations</h1>
{% if userFirst %}
    <h1>welcome {{ userFirst }} {{ userLast }}</h1>
    <form method="GET" action="/assignment9">
                <input type="submit" name="logOut" value="Log Out">
    <br>
            </form>
    {% if role %}
        {% if role == "Team Leader" %}
            <h1></h1>
            <h1>Recommend :</h1>
            <h2>{{ role }}</h2>
            <h2>George Bluth</h2>
            <h2>george.bluth@reqres.in</h2>
         {% endif %}
        {% if role == Advisor  %}
            <h1>Recommend :</h1>
            <h2>{{ role }}</h2>
            <h2>Janet Weaver</h2>
            <h2>janet.weaver@reqres.in</h2>
         {% endif %}
        {% if role == Colleague  %}
            <h1>Recommend :</h1>
             <h2>{{ role }}</h2>
            <h2>Emma Wong</h2>
            <h2>emma.wong@reqres.in</h2>
            {% else %}
            <h2>There is no Recommend like you search</h2>
         {% endif %}

    {% else %}

            <form method="GET" action="/assignment9">
                <input name="role" type="text" placeholder="Role">
                <input name="firstName" type="text" placeholder="First Name">
                <input name="lastName" type="text" placeholder="Last Name">
                <input name="email" type="email" placeholder="Email">
                <input type="submit">
            </form>
          <h2>All Recommend</h2>
            <h2>Team Leader</h2>
            <h2>George Bluth</h2>
            <h2>george.bluth@reqres.in</h2>
        <br>
      <h2>Advisor</h2>
            <h2>Janet Weaver</h2>
            <h2>janet.weaver@reqres.in</h2>
        <br>
          <h2>Colleague</h2>
            <h2>Emma Wong</h2>
            <h2>emma.wong@reqres.in</h2>
    {% endif %}
{% else %}
    <h1>Welcome!</h1>
    <h2>please enter your name</h2>
            <form method="GET" action="/assignment9">
                <input name="userFirst" type="text" placeholder="First Name">
                <input name="userLast" type="text" placeholder="Last Name">
                <input type="submit">
            </form>
{% endif %}
</body>
</html>