<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colleagues</title>
     <Link rel="stylesheet" href="{{ url_for('static', filename='contact.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

</head>
<body class="body">
<div class ="header">
    <div class = "inner_header">
        <div class = "logo_container">
            <h1>
               Colleagues tell about Dor
            </h1>
        </div>
    </div>
</div>
<hr>

<main class="list">
<script src="{{ url_for('static', filename='list.js')}}"></script>
</main>


</body>
</html>